<div class="login-wrapper">
  <div class="login-card">

    <div class="login-icon-container">
      <mat-icon>lock</mat-icon>
    </div>
    <h2 class="title">Iniciar sesión</h2>
    <p class="subtitle">Accede con tu usuario y contraseña</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" autocomplete="username" />
  <mat-error *ngIf="f.username.hasError('required')">El usuario es obligatorio</mat-error>
        <mat-error *ngIf="f.username.hasError('minlength')">Mínimo 3 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
        />
        <button mat-icon-button matSuffix type="button" (click)="hide.set(!hide())" [attr.aria-label]="'mostrar/ocultar contraseña'">
          <mat-icon>{{ hide() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
  <mat-error *ngIf="f.password.hasError('required')">La contraseña es obligatoria</mat-error>
        <mat-error *ngIf="f.password.hasError('minlength')">Mínimo 4 caracteres</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading()">
          <ng-container *ngIf="!loading(); else loadingTpl">Ingresar</ng-container>
        </button>
        <ng-template #loadingTpl>
          <span class="loading-content">
            <mat-spinner diameter="20"></mat-spinner>
            <span>Ingresando...</span>
          </span>
        </ng-template>
      </div>

      <div class="error" *ngIf="errorMsg()">{{ errorMsg() }}</div>
    </form>

    <a routerLink="/" class="back-link">← Volver al inicio</a>

    </div>
</div>


<div *ngIf="showSuccessAnimation()" class="animation-overlay">
  <div class="animation-box">
    <img src="assets/img/intro-sga.gif" alt="Iniciando sesión..." />
    <h1>!Universidad Regional!</h1>
    <h2>!Sede San Raymundo!</h2>
  </div>
</div>